1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

a)

In [4]:
x=[]
for i in range(1,100):
    if ((i%3==0) & (i%5==0)): i="MickeyMouse"
    elif i%3==0: i="Mickey"
    elif i%5==0: i="Mouse"
    print(i)
    x.append(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

b)

In [5]:
#print(tuple(x))
y=x

y = ["Donald" if item == "Mickey" else "Duck" if item == "Mouse" else item for item in y]

y=tuple(y)

print(y)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [6]:
def swap(x,y):
    x,y=y,x
    return x,y

swap(["ciao","2"],2)

(2, ['ciao', '2'])

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [7]:
import math

#we define the square of euclidian norm for tuples
def tuple_square(v):
    return sum([i**2 for i in v])

#function that calculates the eucledian distance between two points
def Eucl_d(u,v):
    #u, v 2 eucliadian point in R^2
    return math.sqrt(tuple_square(u)+tuple_square(v))

In [8]:
Eucl_d((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [15]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def Str_count(str,ch):
    #str: string to analyze (lower case!)
    #ch: character to be found
    if (ord(ch) in range(97,122)):
        return str.count(ch)+str.count(chr(ord(ch)-32))
    else:       
        return str.count(ch) #if ch is not a letter we don't look for the other case

In [21]:
Str_count(s,"b")

5

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [23]:
def unique_count(list):
    count=[item for item in list if list.count(item)==1]
    return count

In [24]:
print("the number of unique instances in the list l is: ", len(unique_count(l)))

the number of unique instances in the list l is:  37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [26]:
def square(x):
    return x**2
    
def cube(x):
    return x**3

def sixth(x):
    return cube(square(x))

print(3**6, sixth(3))

729 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [27]:
cubes=[]
for n in range(0,10):
    cubes.append(n**3)

cubes2=[n**3 for n in range(0,10)]

print(cubes,cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [28]:
import numpy as np

21040.46s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)

In [33]:
pythagorean_triples = [(a, b, int(c)) for a in range(1, 100) for b in range(a, 100) if (c := (a**2 + b**2)**0.5).is_integer() and c < 100 ]

In [29]:
#c=[[math.sqrt(a**2+b**2) for a in range(1,100)] for b in range(1,100)]

c=[item in [math.sqrt(a**2+b**2) for a in range(1,100)] for b in range(1,100) if item.isdigit()]
print(c)

NameError: name 'item' is not defined

In [255]:

c=[[math.sqrt(a**2+b**2) for a in range(1,100)] for b in range(1,100)]

c=np.array(c)

c=c.flatten()

c=[item for item in c if isinstance(item,int)]

print(c)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [37]:
def norm(v):
    return math.sqrt(sum([i**2 for i in v]))

def normalize(v):
    return tuple([item/norm(v) for item in v])
    
z= normalize((1,2,3))

print(z)

(0.2672612419124244, 0.5345224838248488, 0.8017837257372732)